<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Rower, mevo, trójmiasto, gdańsk, sopot, gdynia, rowery elektryczne, watchdog">
    <title>Mevo Watchdog</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40170975-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-40170975-3');
    </script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pl.js" integrity="sha256-prSi7A1V9ZxDIIGoYopovpFgGHQodz6JVZu5Aad7o8s=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js" integrity="sha256-Olnajf3o9kfkFGloISwP1TslJiWUDd7IYmfC+GdCKd4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light primary-color">
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="main_navbar">

        <!-- Links -->
        <ul class="navbar-nav mr-auto main-menu">
          <li class="nav-item">
            <a class="nav-link" href="{{ path("charts_view") }}"><i class="fas fa-chart-bar"></i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path("events_view") }}"><i class="fas fa-calendar-check"></i>Dziennik zdarzeń</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-map-marker-alt"></i>Stacje (wkrótce)</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://gdziejestmevo.pl"><i class="fas fa-bicycle"></i></i>Gdzie jest Mevo?</a>
          </li>
        </ul>
        <!-- Links -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item facebook-link">
              <a class="nav-link" href="https://www.facebook.com/mevowatchdog" title="Pies który patrzy na mewy jest też na FB">
                  Znajdź nas na FB!
                  <i class="fab fa-facebook-square"></i>
              </a>
          </li>
      </ul>

      <form class="form-inline" method="GET">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" name="bike" placeholder="Znajdź rower" aria-label="Znajdź rower">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

    {% block content %}
    {% endblock %}

    <div class="footer-wrapper">
        <i><a href="mailto:mcoffsky@gmail.com">Mevo Watchdog</a> @ 2019 </i>
    </div>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#BFE3F0"
                    },
                    "button": {
                        "background": "#EA5144"
                    }
                },
                "content": {
                    "message": "Mevo Watchdog nie zapisuje żadnych danych użytkownika. Ale używamy ciasteczek do optymalizacji i analizy ruchu.",
                    "dismiss": "Rozumiem!",
                    "link": "Dowiedz się więcej...",
                    "href": "https://www.cloudflare.com/cookie-policy/"
                }

            })});
    </script>
</body>


</html>