<div>
    <a href="/" style="text-decoration: none">
        <h1 style="font-family: 'Montserrat', sans-serif; font-size: 90px; color: #EA5144"><strong>mevo</strong></h1>
        <h2 style="color: #000; margin-top: -0.5em;">watchdog</h2><br/>
    </a>
    <h5>Obywatelski system monitorowania dostępności rowerów Mevo</h5>
    <div class=""><i>Skoro płacimy za ten system z podatków <strong>6 milionów 195 tysięcy złotych rocznie</strong>, to mamy prawo wiedzieć za co.</i></div>

    <a href="https://www.facebook.com/mevowatchdog" title="Pies który patrzy na mewy jest też na FB" style="text-decoration: none;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/240px-F_icon.svg.png" style="width: 25px; margin-top: 10px"/></a><br/><br/>
</div>