<div>
    <a href="/" style="text-decoration: none">
        <h1 style="font-family: 'Montserrat', sans-serif; font-size: 90px; color: #EA5144"><strong>mevo</strong></h1>
        <h2 style="color: #000; margin-top: -0.5em;">watchdog</h2><br/>
    </a>
    <h5>Obywatelski system monitorowania dostępności rowerów Mevo</h5>
    <div class=""><i>Skoro płacimy za ten system z podatków <strong>6 milionów 195 tysięcy złotych rocznie</strong>, to mamy prawo wiedzieć za co.</i></div>
    <br/>
</div>